extends base

block content
    .all-title-box
        .container
         .row
             .col-lg-12
                h2 Cart
                ul.breadcrumb
                    li.breadcrumb-item
                        a(href='#') Shop
                    li.breadcrumb-item.active Cart

    .cart-box-main
        .container
            -sum=0
            .row
                .col-lg-12
                    .table-main.table-responsive
                        table.table
                            thead
                                tr
                                    th Images
                                    th Product Name
                                    th Price
                                    th Quantity
                                    th Total
                                    if(user.role!="seller")
                                        th Negotiate
                                    th Remove
                            tbody
                                each prod,i in user.cart
                                    tr.cartProducts.cartProds
                                        td.thumbnail-img
                                            a(href='#')
                                                img.img-fluid(src=`./../img/${prod.images[0]}` alt='' onError="this.src = './../img/default.jpg'") 
                                        td.name-pr
                                            a(href=`/${user.role=="seller"?"farmProduct":"product"}/${prod.id}`)= prod.name
                                        td.price-pr
                                            p= `₹ ${prod.price}`
                                        td.quantity-box
                                            input.qtyInput.c-input-text.qty.text(type='number' size='4' value=user.cartQty[i] min='1' max=prod.stockLeft step='1' data-price=prod.price data-id=i data-role =user.role data-prodid=prod.id)
                                        td.total-pr
                                            p.prodPrice= `₹ ${prod.price*user.cartQty[i]} `
                                            - sum += prod.price*user.cartQty[i]
                                        if(user.role!="seller")
                                            td.remove-pr
                                                a(href='#' data-id=prod.id data-buyer=user.id data-price=prod.price data-qty = user.cartQty[i]).negoBtn Negotiate?
                                        td.remove-pr.rmBtn
                                            a(href='#')
                                            i.fas.fa-times
                                            
                                
            
            .row.my-5
                .col-lg-8.col-sm-12
                .col-lg-4.col-sm-12
                    .order-box
                    h3 Order summary
                    .d-flex
                        h4 Sub Total
                        .ml-auto.font-weight-bold.subTotal=`₹ ${sum}`
                    
                    .d-flex
                        h4 Tax(3%) +Convenience Charge(2%)
                        .ml-auto.font-weight-bold.tax=`₹ ${Math.floor(sum*0.05)}`
                    .d-flex
                        h4 Shipping Cost
                        .ml-auto.font-weight-bold Free
                    hr
                    .d-flex.gr-total
                        h5 Grand Total
                        .ml-auto.h5.grandTotal= `₹ ${Math.floor(sum*0.05) + sum}`
                    hr
                .col-12.d-flex.shopping-box
                    a.ml-auto.btn.hvr-hover(href='/checkOut') Checkout
