extends base

block content 
  
  .placed
    strong.pl-1
      |   ORDER PLACED 
      strong.pl-2 SUCCESSFULLY
      p
      p SEE YOUR ORDERS  AT MY ORDER SECTION IN ACCOUNT PAGE
    //- p
    //-   a.btn.hvr-hover(href='/myOrders') View Orders
  
  .container
    -sum=0
          .row
              .col-lg-12
                  .table-main.table-responsive
                      table.table
                          thead
                              tr
                                  th Product no
                                  th Image
                                  th Product Name
                                  th Price
                                  th Quantity
                                  th Total
                          tbody
                              each prod,i in order.products
                                  tr.cartProducts
                                      td.price-pr
                                        p= i+1
                                      td.thumbnail-img
                                          a(href='#')
                                            img.img-fluid(src=`./../img/${prod.images[0]}` alt='' onError="this.src = './../img/default.jpg'") 
                                      td.name-pr
                                          a(href=`/${user.role=="seller"?"farmProduct":"product"} /${prod.id}`)= prod.name
                                      td.price-pr
                                          p= `₹ ${prod.price}`
                                      td.quantity-box
                                          p= order.productsQty[i]
                                      td.total-pr
                                          p.prodPrice= `₹ ${prod.price*order.productsQty[i]} `
          
  .placed
       a.btn.hvr-hover(href='/myorders') View Your Orders
                                      
  // Start Products
  .products-box
    .container
      .row
        .col-lg-12
          .title-all.text-center
            h1 Shop Other products
      .row
        .col-lg-12
          .special-menu.text-center
            .button-group.filter-button-group
              button.active(data-filter='*') All
              button(data-filter='.top-featured') Top featured
              button(data-filter='.best-seller') Best seller
      .row.special-list
        each product,i in products
          if(i%2 ==0)
            .col-lg-3.col-md-6.special-grid.top-featured
              .products-single.fix
                .box-img-hover
                  .type-lb
                    p.sale Sale
                  img.img-fluid(src=`./../img/${product.images[0]}` alt='Image' onError="this.src = './../img/default.jpg'")
                  .mask-icon
                    ul
                      li
                        a(href=`/product/${product.id}` data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      
                    a.cart(href=`/product/${product.id}`) Add to Cart
                .why-text
                  a(href=`/product/${product.id}` )
                    h4= product.name
                    h5=`₹ ${product.price} per ${product.costPer} `
          else 
            .col-lg-3.col-md-6.special-grid.best-seller
              .products-single.fix
                .box-img-hover
                  .type-lb
                    p.sale Sale
                  img.img-fluid(src=`./../img/${product.images[0]}` alt='Image' onError="this.src = './../img/default.jpg'") 
                  .mask-icon
                    ul
                      li
                        a(href=`/product/${product.id}` data-toggle='tooltip' data-placement='right' title='View')
                          i.fas.fa-eye
                      
                    a.cart(href=`/product/${product.id}`) Add to Cart
                .why-text
                  a(href=`/product/${product.id}` )
                    h4= product.name
                    h5=`₹ ${product.price} per ${product.costPer} `
  
  // End Blog
  // Start Instagram Feed
  .instagram-box
    .main-instagram.owl-carousel.owl-theme
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-01.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-02.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-03.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-04.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-05.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-06.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-07.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-08.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-09.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
      .item
        .ins-inner-box
          img(src='./../images/instagram-img-05.jpg' alt='')
          .hov-in
            a(href='#')
              i.fab.fa-instagram
  
  